* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}
/* common */
.container {
    width: 1230px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.intro__heading {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    color: #1d77ff;
}
.intro__desc {
    padding: 5px 0;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.4;
    color: #505050;
}
/* header */
.header {
    background-image: linear-gradient(#1d77ff, #005eb1);
    /* background-color: #005eb1; */
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo {
    width: 80px;
    height: 80px;
}
.navbar__icon--out {
    padding: 10px 20px;
    background-color: #8ad6ec18;
    border-radius: 99px;
}
.navbar__icon {
    color: #fff;
    font-size: 2.2rem;
}
.navbar__list {
    display: flex;
    background-color: #8ad6ec18;
    padding: 10px 28px;
    border-radius: 99px;
}
.navbar__item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.12;
    text-align: center;
    text-transform: capitalize;
    margin-left: 57px;
}
.navbar__item a {
    color: rgba(255, 255, 255, 0.6);
}
.navbar__item:hover a {
    color: #fff;
}
.navbar__item:first-child {
    margin-left: 0;
}
.event__icon {
    font-size: 2.4rem;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 10px 30px;
    background: #1d77ff;
    border-radius: 99px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.38;
    text-align: center;
    color: #f7ce68;
}
.btn:hover {
    opacity: 0.8;
    scale: 1.1;
    transition: 0.5s;
}
.navbar__icon:hover,
.navbar__action:hover {
    opacity: 0.8;
}
.navbar__action--icon {
    margin-right: 10px;
    color: #f7ce68;
}

.navbar__content {
    color: #f7ce68;
}
/* hero */
.hero {
    position: relative;

    background: url("../img/calendar/calen.jpg") no-repeat bottom center;
    background-size: cover;
    min-height: 900px;
}

.hero__khinh {
    margin-left: 300px;
}
.hero__ballon {
    margin-top: 0px;
}
.hero-bot__img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.hero__all {
    display: flex;
    justify-content: space-between;
}
.hero__heading {
    font-size: 13.5695rem;
    font-weight: 300;
    line-height: 141.349px;
}

.hero-left {
    margin-top: 50px;
    margin-left: 200px;
}
.hero-right {
    margin-top: 250px;
    width: 50%;
    margin-left: 300px;
}
.hero-left__img {
    width: 60%;
}
.hero-bot__img {
    width: 100%;
}

/* event */
.calendar-event {
    padding: 50px 0;
    background-image: linear-gradient(#fff, #8ad6ec 30%);
}
.event__item--img {
    display: inline-block;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.event__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}
.event__item {
    border-radius: 16px 16px 0 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.event__content {
    padding: 20px;
}
.event__address {
    display: flex;
    align-items: center;
}
.event__heading {
    color: #1d77ff;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.4;
    margin-left: 30px;
}
.event__desc {
    display: inline-block;
    color: #505050;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3;
    margin-left: 30px;
}
.event__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.event__btn {
    color: #fff;
}
.event__icon {
    font-size: 2.5rem;
    color: #505050;
}
/* slider */

.slider__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
