* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}
/* common */
.container {
    width: 1230px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.intro__heading {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.33;
    color: #1d77ff;
}
.intro__desc {
    padding: 5px 0;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    color: #505050;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 10px 30px;
    background: #1d77ff;
    border-radius: 99px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.38;
    text-align: center;
    color: #f7ce68;
}
.btn:hover {
    opacity: 0.8;
    scale: 1.1;
    transition: 0.2s;
}
/* header */
.header {
    background-image: linear-gradient(#1d77ff, #005eb1);
    /* background-color: #005eb1; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo {
    width: 80px;
    height: 80px;
}
.navbar__icon--out {
    padding: 10px 20px;
    background-color: #8ad6ec18;
    border-radius: 99px;
}
.navbar__icon {
    color: #fff;
    font-size: 2.2rem;
}
.navbar__list {
    display: flex;
    background-color: #8ad6ec18;
    padding: 10px 20px;
    border-radius: 99px;
}
.navbar__item {
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.12;
    text-align: center;
    text-transform: capitalize;
    margin-left: 57px;
}
.navbar__item a {
    color: rgba(255, 255, 255, 0.6);
}
.navbar__item:hover a {
    color: #fff;
}
.navbar__item:first-child {
    margin-left: 0;
}
.navbar__icon:hover,
.navbar__action:hover {
    opacity: 0.8;
}
.navbar__action--icon {
    margin-right: 10px;
    color: #f7ce68;
}

.navbar__content {
    color: #f7ce68;
}
/* subnav */

.navbar__item:hover .subnav {
    display: block;
}
.subnav {
    padding: 30px;
    bottom: 0;
    position: absolute;
    top: 12px;
    left: -40px;
    min-width: 240px;
    display: none;
}
.subnav__itemChild {
    padding: 10px 20px;
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    color: #fff;
    margin-top: 2px;
    background-color: #1d77ff;
}
.subnav__itemChild:hover {
    cursor: pointer;
    opacity: 0.8;
    scale: 1.1;
}
/* hero */
.hero {
    position: relative;
    background: url("../img/intro/intro.png") no-repeat bottom center;
    background-size: cover;
    min-height: 800px;
    padding-top: 10%;
}

.hero__khinh {
    margin-left: 300px;
}
.hero__ballon {
    margin-top: 0px;
}
.hero-bot__img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.hero__all {
    display: flex;
    justify-content: space-between;
}
.hero__heading {
    font-size: 13.5695rem;
    font-weight: 300;
    line-height: 141.349px;
}

.hero-left {
    margin-top: 50px;
    width: 50%;
}
.hero-left__img {
    width: 80%;
}

.hero__desc {
    margin-top: 50px;
    color: #fff;
    text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.23;
}
.hero-right {
    margin-right: -120px;
    margin-bottom: 100px;
}
.hero-bot__img {
    width: 100%;
    height: 300px;
}

/* intro1 */
.intro1 {
    background-image: linear-gradient(#fff, #8ad6ec);
    padding: 50px 0;
}
.intro1__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
}
.in {
    position: relative;
}
.intro1__item {
    padding: 10px;
}
.intro1__heading {
    margin-bottom: 30px;
    margin-left: 30px;
}
.intro1__heading span {
    display: block;
    width: 70%;
    text-align: right;
}
.intro1__icon {
    position: absolute;
    top: 0;
    right: 0;
}
.intro1__img {
    display: inline-block;
    width: 100px;
    height: 100px;
}

/* intro2 */
.intro2 {
    padding: 50px 0;
    background-color: #8ad6ec;
}

/* intro3 */
.intro3 {
    padding: 50px 0;
    background-image: linear-gradient(#fff, #8ad6ec);
}
.intro3__list {
    margin: 50px 0;
}
.intro3___item {
    display: flex;
    margin-top: 50px;
}
.intro3__img {
    width: 30%;
    max-height: 200px;
}
.intro3__content {
    width: 60%;
    margin-left: 100px;
}
.intro3__heading {
    color: #505050;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1.23;
}
.intro3__THT {
    padding: 5px 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.23;
    color: #1d77ff;
    margin-right: 10px;
}
.intro3__next {
    text-align: right;
}
.intro3__THT:hover {
    opacity: 0.5;
}
.intro3__icon {
    color: #1d77ff;
    font-size: 2rem;
}

/* intro4 */
.intro4 {
    padding: 50px 0;
    background-image: linear-gradient(#fff, #8ad6ec);
}
.intro4__item--img {
    display: inline-block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.intro4__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-top: 30px;
}
.intro4__item {
    border-radius: 16px 16px 0 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.intro4__content {
    padding: 20px;
}
.intro4__address {
    display: flex;
    align-items: center;
}
.intro4__heading {
    color: #1d77ff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2;
    margin-left: 20px;
}
.intro4__desc {
    display: inline-block;
    color: #505050;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}

.intro4__btn {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding: 10px;
}
/* intro5 */
.intro5 {
    padding: 50px 0;
    background-image: linear-gradient(#eee, #8ad6ec);
}
.intro5__all {
    display: flex;
    align-items: center;
}
.intro5-left {
    width: 30%;
    margin-right: 100px;
}
.intro5-right {
    width: 60%;
}
.intro5__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 50px;
}
.intro5__item {
    display: flex;
}
.intro5__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.intro5__desc {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.5;
    color: #15143966;
}
.intro5__heading {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #1d77ff;
}
