* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}
/* common */
.container {
    width: 1230px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.intro__heading {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.33;
    color: #1d77ff;
}
.intro__desc {
    color: #505050;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 20px;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 10px 30px;
    background: #1d77ff;
    border-radius: 99px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.38;
    text-align: center;
    color: #f7ce68;
}
.btn:hover {
    opacity: 0.8;
    scale: 1.1;
    transition: 0.5s;
}
/* header */
.header {
    background-image: linear-gradient(#1d77ff, #005eb1);
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo {
    width: 80px;
    height: 80px;
    font-size: 2rem;
}
.navbar__icon--out {
    padding: 10px 20px;
    background-color: #8ad6ec18;
    border-radius: 99px;
}
.navbar__icon {
    color: #fff;
    font-size: 2.2rem;
}
.navbar__list {
    display: flex;
    background-color: #8ad6ec18;
    padding: 10px 28px;
    border-radius: 99px;
}
.navbar__item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.12;
    text-align: center;
    text-transform: capitalize;
    margin-left: 57px;
}
.navbar__item a {
    color: rgba(255, 255, 255, 0.6);
}
.navbar__item:hover a {
    color: #fff;
}
.navbar__item:first-child {
    margin-left: 0;
}
.navbar__icon:hover,
.navbar__action:hover {
    opacity: 0.8;
}
.navbar__action--icon {
    margin-right: 10px;
    color: #f7ce68;
}

.navbar__content {
    color: #f7ce68;
}
/* hero */
.hero {
    position: relative;
    background: url("../img/news/background1.png") no-repeat bottom center;
    background-size: cover;
    min-height: 700px;
    margin-top: 80px;
}
.hero__all {
    display: flex;
}
.hero-left {
    margin-top: 100px;
}
.hero-right {
    font-size: 10rem;
    color: #fff;
}
.hero__khinh {
    width: 300px;
    margin-left: 400px;
}

.hero-bot__img {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
}

/* main */
/* news1 */
.news1 {
    /* background-image: linear-gradient(#fff 30%, #8ad6ec); */
    background-color: #fff;
}
.news1__intro {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}
.news1__media--img {
    height: 400px;
}
.news1__heading {
    color: #1d77ff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
.news__desc {
    margin-top: 20px;
    color: #505050;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
}
/* new2 */
.news2 {
    position: relative;
}
.new2__img1 {
    position: absolute;
    right: 0;
    width: 300px;
}
.new2__img2 {
    position: absolute;
    left: 50px;
    top: 200px;
    width: 200px;
}
.new2__img3 {
    position: absolute;
    top: 1000px;
    width: 200px;
    left: 100px;
}
.new2__img4 {
    position: absolute;
    right: 0;
    top: 1000px;
    width: 800px;
    min-height: 400px;
}
.new2__img5 {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 300px;
    min-height: 300px;
}
.container2 {
    width: 900px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.new2__heading {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #505050;
}
.news2__item {
    margin-top: 50px;
}
.new2__emphasize {
    font-weight: 700;
}
/* news3 */
.news3 {
    padding: 50px 0;
}
.news3__social {
    display: flex;
    gap: 80px;
    margin-top: 50px;
}
.social__list--left {
    width: 60%;
}
.social__list--right {
    width: 38%;
}
.media__img {
    width: 300px;
    object-fit: cover;
    border-radius: 12px;
}
.media__img:hover {
    scale: 1.2;
    transition: 0.3s;
}
.media__img2 {
    width: 200px;
}
.social__content {
    margin-left: 30px;
}
.social__item {
    display: flex;
    margin-top: 50px;
}
.social__item:first-child {
    margin-top: 0;
}
.news3__heading {
    color: #1d77ff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}
.news3__desc {
    margin-top: 20px;
    color: #505050;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: justify;
}
.next {
    display: inline-block;
    margin-top: 20px;
    color: #1d77ff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
}
.next:hover {
    scale: 1.1;
}
