* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}
/* common */
.container {
    width: 1230px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.intro__heading {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.33;
    color: #1d77ff;
}
.intro__desc {
    color: #505050;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 20px;
}
/* header */
.header {
    background-image: linear-gradient(#1d77ff, #005eb1);
    position: fixed;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo {
    width: 80px;
    height: 80px;
}
.navbar__icon--out {
    padding: 10px 20px;
    background-color: #8ad6ec18;
    border-radius: 99px;
}
.navbar__icon {
    color: #fff;
    font-size: 2.2rem;
}
.navbar__list {
    display: flex;
    background-color: #8ad6ec18;
    padding: 10px 28px;
    border-radius: 99px;
}
.navbar__item {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.12;
    text-align: center;
    text-transform: capitalize;
    margin-left: 57px;
}
.navbar__item a {
    color: rgba(255, 255, 255, 0.6);
}
.navbar__item:hover a {
    color: #fff;
}
.navbar__item:first-child {
    margin-left: 0;
}
.navbar__icon:hover,
.navbar__action:hover {
    opacity: 0.8;
}
.navbar__action--icon {
    margin-right: 10px;
    color: #f7ce68;
}

.navbar__content {
    color: #f7ce68;
}
/* hero */
.hero {
    position: relative;
    background: url("../img/news/background1.png") no-repeat bottom center;
    background-size: cover;
    min-height: 800px;
}
.hero__all {
    display: flex;
}
.hero-left {
    margin-top: 100px;
}
.hero-right {
    margin-top: 150px;
    margin-left: 100px;
    font-size: 8rem;
    color: #fff;
}
.hero__khinh {
    width: 300px;
    margin-left: 400px;
}

.hero-bot__img {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
}

/* main */
/* news1 */
.news1 {
    padding: 50px 0;
    background-image: linear-gradient(#fff 60%, #8ad6ec);
}
.news1__item {
    margin-top: 50px;
}
.news1__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
}

.news1__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 16px;
}
.news1__heading {
    color: #1d77ff;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}
.news1__time {
    display: flex;
    justify-content: space-around;

    margin: 30px;
}
.news1__icon {
    display: flex;
    align-items: center;
}
.news1__desc {
    margin-top: 0;
    margin-left: 30px;
}
.news1__icon1 {
    background-color: #2e80ce;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 2rem;
}
.news1__next {
    color: #1d77ff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.23;
}
.news1__bot {
    margin-top: 50px;
    text-align: right;
}
.news1__bot:hover {
    opacity: 0.8;
}
/* news2 */
.news2 {
    padding: 50px 0;
    background-image: linear-gradient(#fff 60%, #8ad6ec);
}
.news2__item--img {
    display: inline-block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}
.news2__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 20px;
    margin-top: 50px;
}
.news2__item {
    border-radius: 16px 16px 0 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.news2__content {
    padding: 10px;
}
.news2__heading {
    color: #1d77ff;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2;
    margin-left: 20px;
}
.news2__desc {
    display: inline-block;
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
}
.news2__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.news2__icon {
    margin-top: 20px;
}
.news2__icon1 {
    display: inline-block;
    padding: 10px;
    font-size: 2rem;
}
